
.button {	
	background: white;
	border-radius:$radius;
	border:1px solid $lime-green;
	cursor:pointer;
	color:$lime-green;
	display:inline-block;
	font-size:$font-size-medium;
	font-weight: 700;
	line-height: 1;
    padding:$xs-size;	
	text-decoration:none;
	&:hover{
		color: $dark-grey;
	}
}
.button:active {
	position:relative;
	top:1px;
}    
.button--link{
    background: none;
    color:$lime-green;
	border:none;
	font-weight: 700;
    font-size:$font-size-large;
	margin-left: $m-size;
	text-decoration:none;    
}
.button-group{	
    align-items: center;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    @media (min-width: $desktop-breakpoint) {       
        flex-direction: row;
             
   }
}
.button--secondary {
    background: #888;
  }
