.header{
    background: white;  
    box-shadow: 0px 15px 12px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: $m-size;
}
.header__content{
    align-items: center;
    display: flex;
    justify-content:space-between;   
    
}
.header__title{
    color: $blue;     
    text-decoration: none; 
  
}
