.page-header{
    background: $off-white;
    margin-bottom: $l-size;
    padding:$m-size;   
}
.page-header__actions{
    margin-top: $m-size;
}
.page-header__title{
    line-height: 1em;
    @media (min-width: $desktop-breakpoint) {
        font-weight: 300;
        margin: 0;
        span{
            font-weight: 700;
        }
   }
}