// Colors
$dark-grey:#333333;
$light-grey:#cacccd;
$light-blue:#5197c9;
$blue :#3498DB;//rgba(92, 127, 251, 1);//#2db92d;
$dark-blue:#364051;
$off-white:#f7f7f7;
$grey:#666;
$light:#f7f7f5;
$radius:4px;
// font-size
$font-size-large :1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
